@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* khai báo font cho cả trang html */
html {
  font-family: helvetica, arial, sans-serif;
}

.grid {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
}
/* Css cho header */
.header {
  height: 100px;
  background-color: #fff;
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

/* Css để cho các item trong thẻ li nằm trên cùng 1 hàng */
.header__narbar {
  display:flex;
  justify-content: space-between;
  /* margin-left: 18px;
  margin-right: 18px; */
}

/* Css để cho các thẻ li mất dấu chấm ở đầu */
.header__narbar-list {
  position: relative;
  list-style: none;
}

/* Css logo  */
.header__narbar-item-logo {
  width: 50%;
  margin-top:17px;
  margin-left: 26px;
}

/* Css để cho các thẻ li nằm lên cùng 1 hàng */
.header__narbar-item, 
.header__narbar-item-list,
.header__narbar-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #543a42;
  padding: 10px;
  font-weight: 500;
  position: relative;
  
}

/* thẻ a bên trong li */
.header__narbar-item-link {
  padding-top:0
}

/* browse */
.header__narbar-item-browse {
  margin-left: -158px;
  transform: translateY(11px);
  font-size: 1.2rem;
  color: #18113c;
}

/* landings */
.header__narbar-item-landings {
  margin-left: -39px;
  transform: translateY(11px);
  font-size: 1.2rem;
  color: #18113c;
  
}

/* pages */
.header__narbar-item-pages {
  margin-left: 17px;
  transform: translateY(11px);
  font-size: 1.2rem;
  color: #18113c;
}

/* account */
.header__narbar-item-accounts {
  margin-left: 17px;
  transform: translateY(11px);
  font-size: 1.2rem;
  color: #18113c;
}

/* dấu ... */
.header__narbar-item-dot {
  margin-left: 17px;
  transform: translateY(7px);
  font-size: 1.2rem;
  color: #18113c;
  font-weight: 800;
}

/* input search */
/* .header__narbar-item input {
  width: 320px;
  height: 50px;
  border: 1px solid #e8e7ed;
  outline: none;
  border-radius: 5px;
  transform: translateY(9px);
  margin-left: -40px;
} */

/* thẻ cha ul */
.header__narbar-item {
  position: relative;
}

/* icon down */
.header__narbar-item-icon {
  margin-left: 13px;
  transform: translateY(1px);
  font-size: 1.2rem;
  color: #9391a8;
}



/* thẻ chứa quả chuông */
.header__narbar-item-notify {
  width: 65px;
  height: 59px;
  border: 1px solid #e8e7ed;
  margin-right: 75px;
  display: block;
  border-radius: 50%;
  transform: translateY(13px);
  background-color: #f5f4f8;
  text-decoration: none;
  position: relative;
}

/* icon quả chuông */
.header__narbar-item-notify-icon {
  transform: translateY(2px);
  display: block;
  margin-top: 12px;
  margin-left: 21px;
}

/* giỏ hàng */
.icon-cart {
  display: block;
  color:#8A2BE2;
  /* color: #18113c; */
  transform: translateY(20px);
  cursor: pointer;
  padding-right: 15px;
  position: relative;
}

.shopping-cart-link {
  text-decoration: none;
}

.shopping-cart-noti {
  display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #DAA520;
    color: #fff;
    font-size: 1.1rem;
    width: 38px;
    min-height: 11px;
    padding: 5px;
    margin-top: -33px;
    margin-left: 11px;
    text-align: center;
}
/* avarta  */
.header__narbar-item-codescandy {
  border-radius: 50%;
  position: absolute;
  display: flex;
 
  object-fit: cover; 
  width: 301%;
  /* height: 100%; */
  margin-right: 10px;
  /* margin: auto; */
  transform: translateX(-73px);
  margin-top: -13px;
  cursor: pointer;
}

/* button search */
.header__btn-search {
  display: block;
  width: 60px;
  height: 45px;
  position: absolute;
  z-index: 1;
  border: none;
  background-color: #fff;
  margin-left: 2px;
  margin-top: -14px;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.warp-btn-search {
  flex: 1;
  height: 42px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.header__search-btn {
  background-color: #fff;
  border-left: 1px solid #e8e7ed;
  border-top: 1px solid #e8e7ed;
  border-bottom: 1px solid #e8e7ed;
  border-right: 1px solid #fff;
  height: 50px;
  border-radius: 5px;
  margin-right: 13px;
  width: 50px;
  outline: none;
  z-index: 1;
  transform: translateY(13px);
}

.header__search-btn-icon {
  font-size: 1.2rem;
  color: #716f83;
  transform: translateY(-8px);
  display: block;
  margin-left: 17px;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

.header__search-input-warp {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  /* width: 100%; */
  /* position: absolute; */
  width: 130px;
  height: 50px;
  background-color: #e8e7ed;
  border: none;
  /* height: 100%; */
  /* border-left: 1px solid #e8e7ed; */
  /* border-top: 1px solid #e8e7ed;
  border-bottom: 1px solid #e8e7ed;
  border-right: 1px solid #fff; */
  outline: none;
  font-size: 1.2rem;
  /* color: var(--text-color); */
  padding: 0 16px;
  /* border-radius: 5px; */
  padding-left: 30px;
  z-index: 2;
  transform: translateY(8px);
}

.form-input-filter {
  /* width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 1px;
  z-index: 1;
  height: 48px; */
  width: 450px;
  height: 48px;
  /* border: 1px solid #e8e7ed; */
  outline: none;
  /* border-radius: 5px; */
  transform: translateY(9px);
  margin-left: -15px;
  border-top: 1px solid #e8e7ed;
  border-bottom: 1px solid #e8e7ed;
  border-right: 1px solid #fff;
  padding-left: 10px
}
/* css cho icon search */
.header__narbar-item-search-icon {
  display: block;
  color: #18113c;
  font-size: 1.3rem;
  transform: translateY(3px);
}

/* menu */
.menu-icon {
  display:none
}
/*Start css cho thẻ ul con của browse */
.header__narbar-course-list-item {
  position: absolute;
  min-width: 230px;
  /* min-height: 210px; */
  top: 100%;
  left: -158px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  list-style: none;
  display: none;
  z-index: 1;
}

/* css lớp giả cho .header__narbar-course-list-item để khi di chuột ko bị mất */
.header__narbar-course-list-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 42px;
  left: 0;
  top: -41px;
 
}

/* thẻ a bên trong li browse */
.header__narbar-course-list-item a {
  color: #18113c;
  padding: 0 16px;
  line-height: 38px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  margin-top: 27px;
  margin-bottom:27px
}
/* icon bên trong li browse */
.header__narbar-course-list-item-icon {
  color: #9391a8;
  font-size: 1.1rem;
  transform: translateY(1px);
  margin-left: 20px;
}

/* thẻ ul con trong li browser */
.header__narbar-course-library {
  position: absolute;
  min-width: 130px;
  list-style: none;
  left: 100%;
  background-color: #fff;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius:10px;
  display: none;
  text-transform: capitalize;
  z-index: 1;
}

/* khi di chuột vào browse sẽ hiện lên Web Development */
.header__narbar-item:hover .header__narbar-course-list-item {
  display: block;
  cursor: pointer;

}

/* di chuột vào chữ đổi mầu chữ và mầu nền */
.header__narbar-course-list-item a:hover {
  color: #754ffe;
  background-color: #ccc;
  
}

/* khi di chuột vào Web Development sẽ hiện lên các thư viện */
.header__narbar-course-list-item-web:hover .header__narbar-course-library {
  display: block
}

/* thẻ ul con của design */
/* css mũi tên */
.header__narbar-course-list-item-icon-design {
  color: #9391a8;
  font-size: 1.1rem;
  transform: translateY(1px);
  margin-left: 103px;
}

/* ẩn thẻ ul con của design đi */
.header__narbar-course-design-list {
  position:absolute;
  min-width: 190px;
  list-style: none;
  left: 100%;
  background-color: #fff;
  top: 12%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius:10px;
  display: none;
  text-transform: capitalize;
  z-index: 1;
}

/* khi di chuột vào thì hiện ra */
.header__narbar-course-list-item-design:hover .header__narbar-course-design-list {
  display: block;
}


/* Start Landing */
/* thẻ ul chứa  */
.header__narbar-landing {
  position: absolute;
  min-width: 215px;
  min-height: 277px;
  background-color: #fff;
  list-style: none;
  text-transform: capitalize;
  top: 81%;
  left: -29%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
  z-index: 1;
}

/* css lớp giả */
.header__narbar-landing::before {
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  height: 44px;
  left: 0;
  top: -33px;

}

/* css thẻ a trong landing #18113c */
.header__narbar-landing a {
  text-decoration: none;
  padding: 0 16px;
  line-height: 38px;
  color: #18113c;
  font-size:1rem;
  display:block
}

/* hover vào thẻ a đổi mầu */
.header__narbar-landing a:hover {
  color: #754ffe;
  background-color: #ccc;
  
}

/* css cho thẻ li đầu là con ul trong landing */
.header__narbar-landing-item {
  font-size:0.9rem;
  color: #a8a3b9; 
  text-transform: uppercase;
  margin-top:21px;
  padding: 0 16px;
  font-weight: 500;
}

/* css cho thẻ li cuối  */
.header__narbar-landing-job-listing {
  font-size:1rem;
  color:#18113c;
  padding: 0 16px;
  cursor: pointer;
  line-height: 38px;
}

/* hover thẻ li cuối cùng */
.header__narbar-landing-job-listing:hover {
  background-color: #ccc;
  color: #754ffe;
}

/* css button */
.header__narbar-new-btn {
  background-color:#754ffe;
  outline:none;
  border: 1px solid #754ffe;
  color: #fff;
  text-transform: capitalize;
  width: 60px;
  height: 38px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  line-height: 38px;
  transform: translateY(8px);
}

/* khi hover vào thẻ cha mới hiện list ul lên */
.header__narbar-item:hover .header__narbar-landing  {
  display: block;
  cursor: pointer;
}

/* End landing */

/* Start Page */

/* css thẻ cha ul */
.header__narbar-item-pages-list {
  position: absolute;
  top: 100%;
  left: 19px;
  list-style: none;
  min-width: 210px;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  border-radius: 10px;
  display: none;
  z-index: 1;
  background-color: #fff;
}

.header__narbar-item-pages-list::after {
  content: "";
  display: block;
  position: absolute;
  width: 64%;
  height: 60px;
  left: 0;
  top: -41px;
  
}

/* hover */
.header__narbar-item:hover .header__narbar-item-pages-list {
  display: block;
  cursor: pointer;
  z-index: 1;
}

/* css thẻ a trong ul-li #754ffe */

.header__narbar-item-pages-list a {
  color: #18113c ;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  line-height: 38px;
  padding: 0 16px;
  font-size: 1rem;
  margin: 10px 0 10px 0

}

.header__narbar-item-pages-list a:hover { 
  color: #754ffe;
  background-color: #ccc;
}

/* css cho thẻ li header__narbar-item-pages-list-portfolio */
.header__narbar-item-pages-list-portfolio {
  color: #18113c ;
  line-height: 38px;
  padding: 0 16px;
  font-size: 1rem;
  text-transform: capitalize;
  display:block
}
/* css hover */
.header__narbar-item-pages-list-portfolio:hover {
  color: #754ffe;
  background-color: #ccc;
  cursor: pointer;
}

/* css button */
.header__narbar-item-pages-btn-new {
  background-color: #754ffe;
  cursor: pointer;
  margin-left:9px;
  width: 50px;
  height:30px;
  border-radius: 5px;
  text-transform: capitalize;
  outline: none;
  border: 1px solid #754ffe;
  color: #fff;
  font-size:1rem;
  align-items: center;
  line-height: 25px;
  display: inline-block
}

/* thẻ li header__narbar-item-pages-list-job */
.header__narbar-item-pages-list-job {
  color: #18113c ;
  line-height: 38px;
  padding: 0 16px;
  font-size: 1rem;
  text-transform: capitalize;
  display:block
}

/* css hover */
.header__narbar-item-pages-list-job:hover {
  color: #754ffe;
  background-color: #ccc;
  cursor: pointer;
}

/* css gạch ngang */
.header__narbar-border-bootom {
  border-top: 1px solid #ccc;
  width: 210px;
  margin-left: 18px;
  margin-right: 18px;
  align-items: center;
}

/* css mũi tên cạnh course */
.header__narbar-item-icon-angle-right {
  display: inline-block;
  margin-left: 127px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
}

.header__narbar-item-icon-angle-right:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-paths {
  display: inline-block;
  margin-left: 145px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
}

.header__narbar-item-icon-angle-paths:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-blog {
  display: inline-block;
  margin-left: 151px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
}

.header__narbar-item-icon-angle-blog:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-career {
  display: inline-block;
  margin-left: 136px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
}

.header__narbar-item-icon-angle-career:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-portfolio {
  display: inline-block;
  margin-left: 108px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
  transform: translateY(-24px);
}

.header__narbar-item-icon-angle-portfolio:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-job {
  display: inline-block;
  margin-left: 145px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
  transform: translateY(-21px);
}

.header__narbar-item-icon-angle-job:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-specialty {
  display: inline-block;
  margin-left: 116px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
}

.header__narbar-item-icon-angle-specialty:hover {
  color: #754ffe;
}

.header__narbar-item-icon-angle-help-center {
  display: inline-block;
  margin-left: 93px;
  font-size: 1rem;
  color: #81779d;
  font-weight: 600;
}

.header__narbar-item-icon-angle-help-center:hover {
  color: #754ffe;
}


/* thẻ ul bên trong course */
.header__narbar-item-courses-version {
  display: block;
  position: absolute;
  left:100%;
  top: 15px;
  min-width: 180px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  list-style: none;
  border-radius: 10px;
  display: none;
  z-index: 1;
  background-color: #fff;
}
/* hover */
.header__narbar-parent-courses:hover .header__narbar-item-courses-version {
  display: block;
  
}

/* thẻ ul bên trong paths */
.header__narbar-item-paths-version {
  display: block;
  position: absolute;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 141px;
  top: 62px;
  border-radius: 10px;
  display:none;
  z-index: 1;
  background-color: #fff;
}

.header__narbar-parent-paths:hover .header__narbar-item-paths-version {
  display:block
}

/* thẻ ul bên trong blogs*/
.header__narbar-item-blog-version {
  display: block;
  position: absolute;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 141px;
  top: 108px;
  border-radius: 10px;
  display:none;
  z-index: 1;
  background-color: #fff;
}

/* hover */
.header__narbar-parent-blog:hover .header__narbar-item-blog-version {
  display:block
}

/* thẻ ul bên trong career */
.header__narbar-item-career-version {
  display: block;
  position: absolute;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 141px;
  top: 150px;
  border-radius: 10px;
  display:none;
  z-index: 1;
  background-color: #fff;
}

/* hover */
.header__narbar-parent-career:hover .header__narbar-item-career-version {
  display:block
}

/* thẻ ul bên trong portfolio  */
.header__narbar-item-portfolio-version {
  display: block;
  position: absolute;
  background-color: #fff;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 141px;
  top: 200px;
  border-radius: 10px;
  display: none;
  z-index: 1;
}
/* hover */
.header__narbar-item-pages-list-portfolio:hover .header__narbar-item-portfolio-version {
  display: block;
}

/* thẻ ul bên trong job */
.header__narbar-item-job-version {
  display: block;
  position: absolute;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 170px;
  top: 240px;
  border-radius: 10px;
  display: none;
  z-index: 1;
  background-color: #fff;
}

/* hover */
.header__narbar-item-pages-list-job:hover .header__narbar-item-job-version  {
  display: block;
}

/* thẻ ul bên trong header__narbar-item-specialty-version */
.header__narbar-item-specialty-version {
  display: block;
  position: absolute;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 200px;
  top: 288px;
  border-radius: 10px;
  display: none;
  z-index: 1;
  background-color: #fff;
}

/* hover */
.header__narbar-item-pages-list-specialty:hover .header__narbar-item-specialty-version {
  display: block;
}


/* thẻ ul bên trong help center */
.header__narbar-item-help-center-version{
  display: block;
  position: absolute;
  left: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  min-width: 200px;
  top: 383px;
  border-radius: 10px;
  display: none;
  background-color: #fff;
  z-index: 1;
}

/* hover */
.header__narbar-item-pages-list-help-center:hover .header__narbar-item-help-center-version {
  display: block;
}


/* thẻ ul con của account */
.accounts-list {
  position:absolute;
  top:90%;
  left:23px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius:10px;
  min-width:200px;
  list-style: none;
  display: block;
  background-color: #fff;
  display:none;
}

/* hover */
.header__narbar-item:hover .accounts-list {
  display: block;
  cursor: pointer;
}

/* css lớp giả */
.accounts-list::after {
  display: block;
  content: "";
  position: absolute;
  width: 73%;
  height:50px;
  left: 0;
  top: -41px;
  
}

/* thẻ con span li đầu tiên */
.account-first {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color:#ada9bd;
  line-height: 38px;
  margin-top: 15px;
  padding: 0 16px;
}

.accounts-list a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform:capitalize;
  color: #18113c;
  padding: 0 16px;
  display: block;
  line-height: 38px;
}

/* hover */
.accounts-list a:hover {
 color: #754ffe;
 background-color: #ccc;
}

/* thẻ li cuối cùng */
.linked-accounts {
  margin-bottom: 15px;
}

/* css icon */
.icon-instructor {
  display: inline-block;
  margin-left: 98px;
  transform: translateY(1px);
  color: #81779d;
  font-size: 1rem;
}


.icon-students {
  display: inline-block;
  margin-left: 106px;
  transform: translateY(1px);
  color: #81779d;
  font-size: 1rem;
}

.icon-admin {
  display: inline-block;
  margin-left: 125px;
  transform: translateY(1px);
  color: #81779d;
  font-size: 1rem;
}

/* gạch ngang */
.dot {
  display: block;
  border-top: 1px solid #ccc;
  margin-left:16px;
  margin-right: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

/* thẻ ul bên trong instructor */
.instructor-children {
  display: block;
  position: absolute;
  left: 100%;
  top: 9%;
  min-width: 220px;
  list-style: none;
  background-color: #fff;
  border-radius:10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
}

/* thẻ span */
.instructor-text {
  display: block;
  text-transform: uppercase;
  color: #18113c ;
  padding: 0 16px;
  margin-top: 10px;
  font-size: 1rem;
}

/* thẻ p */
.dashboard {
  color: #ada9bd;
  display: block;
  font-size: 1rem;
  padding: 0 16px;
  margin-top: 15px;
}

/* gạch ngang */
.dot-border {
  border-top: 1px solid #ccc;
  margin: 15px 16px 15px 16px;
  width: 187px;
  display:block
}

/* thẻ a trong li cuối */
.earning {
  margin-bottom:15px
}

/* hover */
.instructor-parent:hover .instructor-children {
  display: block
}
/* End instructor */

/* Start students */
/* thẻ ul bên trong students */
.students-child {
  position: absolute;
  left: 100%;
  top: 15%;
  min-width: 220px;
  list-style: none;
  background-color: #fff;
  border-radius:10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
}

/* thẻ span */
.students-text {
  display: block;
  text-transform: uppercase;
  color: #18113c ;
  padding: 0 16px;
  margin-top: 10px;
  font-size: 1rem;
}

.dashboard-manage {
  color: #ada9bd;
  display: block;
  font-size: 1rem;
  padding: 0 16px;
  margin-top: 15px;
}

/* thẻ li đầu tiên trong ul students */
.students-first {
  margin-top: 15px;
  display: block;
}

.line-border-top {
  border-top: 1px solid #ccc;
  margin: 15px 16px 15px 16px;
  width: 187px;
  display:block
}

/* thẻ li cuối */
.my-path {
  margin-bottom: 15px;
}

/* hover */
.students-parent:hover .students-child {
  display: block;
}

/* Start admin */
/* thẻ ul bên trong admin */
.admin-child {
  position: absolute;
  left: 100%;
  top: 22%;
  min-width: 220px;
  list-style: none;
  background-color: #fff;
  border-radius:10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
}

.master-text {
  display: block;
  text-transform: uppercase;
  color: #18113c ;
  padding: 0 16px;
  margin-top: 10px;
  font-size: 1rem;
}

.amazing-apps {
  color: #ada9bd;
  display: block;
  font-size: 1rem;
  padding: 0 16px;
  margin-top: 15px;
}

/* thẻ li đầu trong ul */
.admin-first {
  margin-top: 15px;
}

/* gach ngang */
.admin-line-border {
  border-top: 1px solid #ccc;
  margin: 15px 16px 15px 16px;
  width: 187px;
  display:block
}

/* thẻ li cuối */
.admin-last {
  margin-bottom: 15px;
}

/* button */
.btn-dashboard {
  display: block;
  width: 187px;
  font-size: 1rem;
  font-weight:600;
  color: #fff;
  background-color: #754ffe;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 38px;  
  margin-left: 17px;
}

.btn-dashboard:hover {
  background-color: #593cc1
}

.admin-parent:hover .admin-child {
  display: block;
}

/* End admin */

/* css dấu chấm phía trên quả chuông */
.header__narbar-item-notify .header__narbar-item-notify-status {
  background-color: #754ffe;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  right: .5rem;
}

/* css dấu chấm ở user */
.header-user-codescandy-status {
  position: absolute;
  background-color: #19cb98;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  right: 1.5rem;
  bottom: -1.9rem;
  border: 2px solid #fff;
}

/* css list lựa chọn trong user */
.header__narbar-item-user-list {
  position: absolute;
  display: none;
  top: 334%;
  left: -294px;
  min-width: 340px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  z-index: 1;
}

/* hover */
.header__narbar-item:hover .header__narbar-item-user-list {
  display: block;
}
/* css lớp giả để di chuột ko mất list user */
.header__narbar-item-user-list::after {
  position: absolute;
  display: block;
  content: "";
  width: 40%;
  height: 70px;
  top: -10%;
  left: 209px;
  
}

.avarta-img {
  width: 20%;
  border-radius:50%;
  margin-top: 18px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 17px;
}

.header__narbar-item-hover-list {
  display:flex
}

.header__narbar-item-hover-list:hover {
  background-color: #ccc
}

/* dấu active ở user list */
.dot-active {
  position: absolute;
  background-color: #19cb98;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  /* right: 1.5rem; */
  /* bottom: -1.9rem; */
  left: 5.7rem;
  top: 3.9rem;
  border: 2px solid #fff;
}
 


/* user info */
.user-info-detail {
  display: inline-block;
  transform: translateY(-12px);
}

/* user name */
.user-info-name {
  color: #18113c;
  font-size: 1.2rem;
  text-transform: capitalize;
  display: block;
  transform: translateY(29px);
}

/* user email */
.user-info-email {
  display: block;
  color:#aeaabe;
  font-size: 1rem;
  display: block;
  transform: translateY(27px);
}


/* gạch ngang */
.dot-border-info-user {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid #ecebf1;
}

/* thẻ a */
.header__narbar-item-user-list a {
  text-decoration: none;
  padding: 0 16px;
  color: #3d375b;
  text-transform: capitalize;
  font-size: 1.2rem;
  display: block;
  line-height: 38px;
}

.header__narbar-item-user-list a:hover {
  background-color: #ccc
}

/* css cho các icon */
.icon-status {
  margin-right: 10px;
  color:#4b4667;
  
}

.icon-profile {
  margin-right: 12px;
  color:#4b4667;
}

.icon-user-circle {
  margin-right: 12px;
  color:#4b4667;
}

.icon-create {
  margin-right: 8px;
  color:#4b4667;
}

.icon-first-order {
  transform: translateX(-16px);
  color:#4b4667;
}

.list-order-user-details {
  transform: translateX(-1px);
  display: inline-block;
}
.icon-subcriptions {
  margin-right: 8px;
  color:#4b4667;
  margin-left: -2px;
}
.list-order-user-subcriptions {
  display: inline-block;
  transform: translateX(3px);
}
.icon-settings {
  margin-right: 10px;
  color:#4b4667;
}

.list-order-user-settings {
  display: inline-block;
  transform: translateX(3px);
}

.icon-sign-out {
  margin-right: 10px;
  color:#4b4667;
}

/* thẻ li cuối */
.sign-out {
  margin-bottom: 27px;
}

/* dấu gạch ngang */

.seperate {
  display: block;
  width: 100%;
  border-top: 1px solid #ecebf1;
  margin: 16px 0 16px 0;
}

/* mũi tên cạnh status */
.icon-arrown-right {
  display: inline-block;
  margin-left: 167px;
  font-size: 1rem;
  color: #86839a;
}

/* css thẻ ul trong status */
.list-status-active {
  position: absolute;
  display: none;
  right: 100%;
  top: 34%;
  min-width: 191px;
  list-style: none;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1;
}

.list-status-active::before {
  content: "";
  display: block;
  position: absolute;
  width: 250px;
  height: 100px;
  top: -28%;
}
/* css thẻ a bên trong li */
.online-parent {
  display:block;
  line-height: 38px;
  margin-top: 10px;
  margin-left: 20px;
  color:#18113c;
  font-size:1rem;
  text-transform:capitalize
}

.online-parent:hover {
  color:#754ffe
}
.icon-online {
  position: absolute;
  /* display: inline-block; */
  background-color: #19cb98;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* right: 1.5rem; */
  /* bottom: -1.9rem; */
  left: 0.8rem;
  top: 0.9rem;
  border: 2px solid #fff;
  transform: translateY(8px);
}

.offline-parent {
  display:block;
  line-height: 38px;
  margin-top: 10px;
  margin-left: 20px;
  color:#18113c;
  font-size:1rem;
  text-transform:capitalize
}

.offline-parent:hover {
  color:#754ffe
}

.icon-offline {
  position: absolute;
  /* display: inline-block; */
  background-color: #5c596d;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* right: 1.5rem; */
  /* bottom: -1.9rem; */
  left: 0.9rem;
  top: 4rem;
  border: 2px solid #fff;
  transform: translateY(7px);
}

.away-parent {
  display:block;
  line-height: 38px;
  margin-top: 10px;
  margin-left: 20px;
  color:#18113c;
  font-size:1rem;
  text-transform:capitalize
}

.away-parent:hover {
  color:#754ffe
}

.icon-away {
  position: absolute;
  /* display: inline-block; */
  background-color: #c28135;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* right: 1.5rem; */
  /* bottom: -1.9rem; */
  left: 0.9rem;
  top: 7rem;
  border: 2px solid #fff;
  transform: translateY(7px);
}

.busy-parent {
  display:block;
  line-height: 38px;
  margin-top: 10px;
  margin-left: 20px;
  color:#18113c;
  font-size:1rem;
  text-transform:capitalize
}

.busy-parent:hover {
  color:#754ffe
}

.icon-busy {
  position: absolute;
  /* display: inline-block; */
  background-color: #ae302e;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* right: 1.5rem; */
  /* bottom: -1.9rem; */
  left: 0.9rem;
  top: 10rem;
  border: 2px solid #fff;
  transform: translateY(7px);
}

/* thẻ li cuối cùng */
.busy-bootom {
margin-bottom: 10px;
}

/* hover hiển thị status */
.status-list-parent:hover .list-status-active {
  display: block;
}

.status-first:hover {
  color: #754ffe
}

.profile:hover {
  color: #754ffe
}

.subcriptions:hover {
  color: #754ffe
}

.settings:hover {
  color: #754ffe
}
.sign-out-click:hover {
  color: #754ffe
}

/* End status */

/* Start ... */
.dot-lists {
  position: absolute;
  left: 19%;
  top: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 10px;
  min-width: 342px;
  list-style: none;
  display:none;
  background-color: #ffff
}

/* css lớp giả */
.dot-lists::after {
  display: block;
  position: absolute;
  content: "";
  left: -6%;
  top: -34%;
  width: 27%;
  height: 96px;
  
}

/* li đầu */
.dot-lists-documentations {
  margin-top: 32px;
  display:block
 
}

/* hover thẻ li đầu */
.dot-lists-documentations:hover { 
  background-color: #ccc;
  cursor: pointer;
  color: #754ffe
}

/* bỏ gạch chân thẻ a */
.dot-lists a {
  text-decoration: none;
}

/* css icon documents */
.icon-documentations {
  margin-left: 24px;
  color: #a69afe;
  font-size: 1.7rem;
  transform: translateY(12px);
  cursor: pointer;
}

/* thẻ span */
.documentations-text {
  display: inline-block;
  color: #754ffe;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0 16px;
  cursor: pointer;
}


/* thẻ p */
.all-text {
  display: block;
  font-size: 1rem;
  color: #5c5776;
  padding: 0 59px 10px;
  cursor: pointer;
  
}

/* thẻ li thứ 2 */
.dot-lists-changelog {
  display:block;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* hover */
.dot-lists-changelog:hover  {
  background-color: #ccc;
  cursor: pointer;
  
}

/* icon change */
.icon-change {
  color:#a69afe;
  margin-left: 22px;
  font-size: 1.7rem;
  transform: translateY(12px);
  cursor: pointer;
}

/* thẻ span changelog */
.changelog-text {
  padding: 0 11px;
  display: inline-block;
  color: #754ffe;
  font-size: 1.2rem;
  text-transform: capitalize;
  cursor: pointer;
}

/* thẻ span version */
.changelog-number-version {
  padding: 0 9px;
  color: #754ffe;
  cursor: pointer;
}

/* thẻ p */
.see-new {
  display: block;
  font-size: 1rem;
  color: #5c5776;
  padding: 0 59px 10px;
  cursor: pointer;
}

/* hover li hiên thẻ ul */
.header__narbar-item:hover .dot-lists {
  display: block;
  cursor: pointer;
}

/* End ... */

/* css phần thông báo */
.bell-list {
  position: absolute;
  right: 100%;
  left: -232%;
  top: 95%;
  min-width: 452px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 10px;
  list-style: none;
  display: none;
  background-color: #fff;
  z-index: 1;
}

/* css lớp giả */
.bell-list::after {
  display: block;
  position: absolute;
  content: "";
  width: 50%;
  height: 67px;
  top: -14%;
  left: 229px;
    
}

/* hover */
.header__narbar-item:hover .bell-list {
  display: block;
}

.header__notify-item-notifications {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}


.notifications-text {
  display: block;
  color: #18113c;
  font-size: 1.5rem;
  cursor: default;
}

.icon-notifications {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 332px;
  transform: translateY(-36px);
}

.icon-notifications:hover {
  cursor: pointer;
  color: #754ffe
}

.header__notify-item--view {
  background-color: #f5f4f8;
  border-top: 5px solid #ccc;
  display: block;
  width: 107%;
  border-bottom: 2px solid #ccc;
  margin-left: -30px;
}


.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}
.header__notify-img {
  position: absolute;
  width: 50px;
  border-radius:50%;
  object-fit: contain;
}

.header__notify-name {
  display: block;
  font-size: 1.3rem;
  color: #18113c;
  font-weight: 500;
  line-height: 1.8rem;
  margin-left: 60px;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #7f7b94;
  margin-top: 4px;
  margin-left: 60px;
}

.thumbs-up-like {
  display: block;
  margin-top: 20px;
}

.house-ago {
  margin-left: 64px;
  font-size: 1.1rem;
  color:#18113c;
  font-weight: 400;
}

.icon-up {
  color: #19cbad;
  padding-right: 5px;
  font-size: 1.1rem;
  
}

.hour {
  color: #18113c;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 10px;
}

.status-now {
  position: absolute;
  /* display: inline-block; */
  background-color: #19cbad;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  /* right: 1.5rem; */
  /* bottom: -1.9rem; */
  left: 24.5rem;
  top: 5.6rem;
  border: 2px solid #fff;
  transform: translateY(46px);
}

.icon-times {
  color: #493142;
  font-size: 1rem;
  margin-left: 105px;
}

/* End Header */

/* Start Content */
.home {
  background-color: #754ffe;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10%;
  min-height: 410px;
}

.home_title, .home_image {
  flex-basis: 50%;
  min-width: 30rem;
}
.home_image img {
  max-width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 130px;
}

.home_title h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  line-height: 3rem;
}

.home_title p {
  font-size: 2.1rem;
  color: #ccc;
  margin-top: 1rem;
}

.home_title .home_title_btn {
  margin-top: 1rem;
}

.home_title .home_title_btn button {
  margin-left: 1rem;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.btn-btn_browse {
  background-color: #19cb98;
  color: #fff;
  width: 256px;
  height: 57px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btn-btn_browse:hover {
  background-color: #139a74;
}

.btn-btn_instructor {
  background-color: #fff;
  color: #18113c;
  width: 256px;
  height: 57px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

/* Notification */
.notification {
  display: flex;
  background-color: #fff;
  height: 100px;
  justify-content:space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notification-item {
  padding: 12px 100px;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}

.fa-video-circel {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ffeeda;
  border: none;
  text-align: center;
  line-height: 4.2rem;
  margin-right: 15px;
}

.icon-video {
  color: #cea285;
  border: #cea285;
  font-size:1.5rem
}
.online-courses {
  display:flex;
  margin-left: 19px;
  /* background-color: #ccc; */
  width: 50px ;
  /* margin-left: 118px; */
}

.expert-instruction {
  display:flex;
  /* background-color: #ccc; */
  width: 50px ;
  /* margin-left: 118px; */
}

.lifetime-access {
  display:flex;
  /* background-color: #ccc; */
  width: 50px ;
  /* margin-left: 118px; */
}


.text-online-courses {
  display: block;
}

.courses-text {
  display:block;
  color:#18113c;
  font-size: 1.2rem;
  font-weight: 500;
}

.enjoy-text {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff4e6;
}

.right-instructor {
  display: block;
}

.instruction-text {
  display: block;
  color:#18113c;
  font-size: 1.2rem;
  font-weight: 500;
}

.find-text {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff4e6;
}


.user-friends-circel {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ffeeda;
  border: none;
  text-align: center;
  line-height: 4.2rem;
  margin-right: 15px;
}

.icon-friends {
  color: #cea285;
  border: #cea285;
  font-size:1.5rem
}

.fa-clock-circel {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ffeeda;
  border: none;
  text-align: center;
  line-height: 4.2rem;
  margin-right: 15px;
  
}

.icon-clock {
  color: #cea285;
  border: #cea285;
  font-size:1.5rem
}

.schedule-access {
  display: block;
}

.access-text {
  display: block;
  color:#18113c;
  font-size: 1.2rem;
  font-weight: 500;
}

.schedule-text {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff4e1;
}

/* End notification */

/* CSS COURES */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.gird__colum-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}

.course-container {
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.home-product-item {
  position: relative;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 10px;
}

.home-product-avarta {
  display: block;
} 
.home-product-item__img {
  width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.title-name {
  display: block;
  margin-top: 20px;
  margin-left: 32px;
  margin-right: 49px;
  font-size: 1.2rem;
  color: #18113c;
  display:-webkit-box;
  /* hướng dòng chữ theo chiều dọc */
  -webkit-box-orient: vertical;
  /* số dòng hiển thị là 2 và sau đó thì cắt đi và hiển thị dấu ... */
  -webkit-line-clamp: 2;
  /* hỗ trợ có dấu ... nếu sử dụng white-space: nowrap */
  text-overflow: ellipsis; 
  word-break: break-word;
}

.title-name:hover {
 color:#593cc1;
 cursor: pointer;
}



.time-to-achieve-level {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* justify-content: space-around; */
  margin-top:16px
}

.time-spent {
  font-size: 1.3rem;
  font-weight: 400;
  color: #c1bdcd;
  margin-left: 10px;
}

.icon-clock-achieve {
  display: block;
  font-size: 1.3rem;
  color: #c1bdcd;
  margin-left: 31px;
  padding-right: 3px;
}

.level-achieve {
  display: block;
  color: #c1bdcd;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 79px;
}

.line-separate {
  display: block;
  margin-top: 31px;
  margin-bottom: 31px;
  border-top: 1px solid #ecebf1;
  width: 100%;
}

.footer-item {
  display: flex;
  justify-content: space-around;
}

.footer-item-name-teacher {

}

.img-avarta {
  width: 15%;
  border-radius: 50%;
  margin-left: 30px;
  transform: translateY(-14px);
}

.teacher-name {
  margin-right: -11px;
  display: block;
  transform: translateX(-35px);
  color: #c9c5d3;
  font-size: 1rem;
  font-weight: 400;
}

.detail-container {
  display:flex
}

.detail-img-item-course {
  display:flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 23%;
  margin-left: 105px;
  margin-right: 20px;
  margin-top: 30px
}

.detail-img {
  width: 100%;
  margin-bottom: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.course-text {
  text-align: center;
  color:	#0000FF
}

.img-detail-course {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 25px;
  
}

.detail-content-image-list-icon {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 136px;
  margin-bottom: 26px;
  border-radius: 10px;
}

.detail-course {
  display: block;
  margin-top: 30px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  background-color: #fff;
  width: 50%;
  margin-right: 20px;
  border-radius: 5px;
}

.detail-course-name-product {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}
.detail-course-name {
  font-size: 1.5rem;
}

.detail-course-original-price {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.detail-course-price-sale {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.detail-course-info {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.detail-course-teacher {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.detail-course-time-to-learn {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.detail-course-level {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
}

.add-course-to-cart {
  display: block;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  width: 13%;
  border-radius: 5px;
}

.time-order {
  display: block;
  margin-top: 10px;
  font-size: 1.3rem;
  margin-left: 10px;
}

.time-separate {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.course-quantity-order {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: -5px;
  padding: 10px;
}

.quantity-item {
  display: block;
  font-size: 1.2rem;
}

.btn-minus {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  transform: translateY(-6px);
}

.icon-minus {
  font-size: 1rem;
  color: #A52A2A;
  font-weight: 700;
}

.quantity-existing {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
  padding: 0 5px;
}

.btn-plus {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  transform: translateY(-6px);
}

.icon-plus {
  font-size: 1rem;
  color: #A52A2A;
  font-weight: 700;
}

.add-separate {
  display: block;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;

}

.detail-btn-to-add {
  display: flex;
  justify-content: center;
}

.btn-add-to {
  display: block;
  width: 155px;
  height: 50px;
  font-size: 1rem;
  color: #fff;
  background-color: #FF7F50;
  outline: none;
  border: none;
  border-radius: 20px 20px;
  cursor: pointer;
  font-weight: 700;
}

.detail-btn-to-back {
  display: flex;
  justify-content: center;
}

.btn-back-to-home {
  display: block;
  width: 155px;
  height: 50px;
  font-size: 1rem;
  color: #fff;
  background-color: #B22222;
  outline: none;
  border: none;
  border-radius: 20px 20px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 10px;
}

.card-link {
  text-decoration: none;
}

.detail-order-money {
  padding: 10px;
  /* border-top: 1px solid #ccc; */
  margin-left: -10px;
  margin-bottom: 10px;
}

.detail-order-money span {
  margin-left: 10px;
  font-size: 1.3rem;
}

/* Footer */
.main {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  
}

.footer-list {
  display: flex;
  justify-content:space-between;
}

.footer-list-item-text {
  display: inline-block;
}

.footer-list-item-link {
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 20px;
  transform: translateX(19px);
  color: #706d82;
  margin-left: 10px;
  display: block;
}

.footer-list-item-link:hover {
  color:#754ffe
}


.line-footer-separate {
 display:block;
width: 100%;
border-top: 1px solid #ecebf1;
margin-bottom: 30px;

}

.all-rights-reserved {
  display: block;
  font-size: 1.2rem;
  margin-left: -30px;
  text-transform: capitalize;
  color: #706d82;
}

/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.login-name {
  margin: auto;
}

.login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  background-color: #fff;
  min-height: 230px;
  border-radius: 5px;
  padding: 50px;
}

.create-new-account {
  margin: auto;
}

.come-back {
  margin: auto;
}

.login-name-account {
  display: block;
  font-size: 3rem;
  color: #754ffe;
  font-weight: 700;
}
.login-text {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #18113c;
}

.login-email-phone {
  display: block;
  text-align: center;
  font-size: 1.3rem;
}

.login-input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}



.login-btn {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  background-color: #51a0c2;
  color: #fff;
}

.login-google {
 display: inline-block;
}

.login-btn-google {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  border-radius: 10px;
  color: #fff;
  background-color: #19cb98;
}

.icon-google {
  padding-right: 10px;
}

.create-btn-account {
  margin-top: 20px;
  width: 180px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: #fff;
  background-color: #51a0c2;
  border-radius: 10px;
}

.come-back-btn {
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  width: 182px;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  background-color: #CD5C5C;
}

.login-form .span-err {
  color: red;
  display: block;
  
}

.login-form .span-hide {
  display: none;
}


/* Giỏ hàng */
.cart-container {
  display: flex;
  flex-wrap: wrap;
  margin-top:25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #efefef;
  /* min-height: 277px; */
}

.cart-notifi-warp {
  padding: 25px;
  overflow: hidden;
  width: 70%;
}

.cart-notifi-text {
  text-align: center;
  font-size:2rem;
  color:#0000FF;
  margin-bottom: 20px;
}

.cart-info-header {
  display: flex;
  justify-content: space-around;
}

.cart-info-header-name {
  font-size: 1.2rem;
}

.cart-info-header-price {
  font-size: 1.2rem;
}

.cart-info-header-quantity {
  font-size: 1.2rem;
}

.cart-info-header-total {
  font-size: 1.2rem;
}

.cart-info-header-delete {
  font-size: 1.2rem;
}

.cart-content {
  display:flex;
  flex-direction: column
}
.cart-content-course {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(54, 54, 75, 0.2) 0px 7px 29px 0px;
}

.cart-content-header {
  display:flex;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(54, 54, 75, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  justify-content: space-around
}

.cart-content-header-name {
  display:block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.2rem;
  font-weight: 400;
  flex-wrap: wrap;
  margin: 0;
  line-height:2rem;
  max-height: 4rem;
  overflow: hidden;
  padding-right: 3px;
  text-overflow: ellipsis;
  align-items: center;
  max-width: 295px;
}

.cart-content-header-price {
  display: block;
  margin-left: 45px;
  font-size: 1.3rem;
  transform: translateY(10px);
}

.cart-content-header-quantity {
  display: block;
  margin-left: 145px;
  font-size: 1.3rem;
  transform: translateY(10px);
  justify-content: space-between;
  padding: 0 10px 0 0;
}

.cart-content-header-money {
  display: block;
  margin-left: 123px;
  font-size: 1.3rem;
  transform: translateY(10px);
}

.cart-content-header-delete {
  margin-left: 215px;
  font-size: 1.2rem;
  transform: translateY(10px);
}

.icon-remove {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  transform: translateY(-6px);
  outline: none;
  background-color: #FA8072;
}

.icon-remove-minus {
  color: #FFFAF0;
  transform: translateY(-1px);
  font-size: 1.3rem;
} 

.icon-add {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  transform: translateY(-6px);
  outline: none;
  background-color: #FF7F50;
}

.icon-add-plus {
  color: #FFFAF0;
  transform: translateY(-1px);
  font-size: 1.3rem;
} 

.product-quantity-exist {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
  padding: 0 10px;
  transform: translateY(-7px);
  min-width: 30px;
}

.icon-delete-trash {
  cursor: pointer;
  transform: translateX(-55px);
}
.icon-trash{
  cursor: pointer;
}

.user-notifications-adress {
  display: flex;
  flex-direction: column;
  
}


.user-adress-local {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-width:400px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  overflow: hidden;
  margin-top: 125px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.user-noti-info {
  display: flex;
}


.user-info-name-header {
  display: flex;
  margin-top: 10px;
}


.user-info-phone {
  margin-top: 10px;
}


.user-info-address {
  margin-top: 10px;
}


.user-icon-truck {
  margin-left: 10px;
} 


.user-change-address-link {
  text-decoration: none;
}

.user-change {
  margin-left: 79px;
  font-size: 1.1rem;
}
.localStorage-name {
  font-size: 1.3rem;
}

.localStorage-phone {
  font-size: 1.3rem;
}

.localStorage-address {
  font-size: 1.3rem;
}


.user-info-quantity-detail {
    min-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.user-info-quantity--number {
  display: flex;
}

.user-info-quantity-total {
  font-size: 1.2rem
}

.user-info-quantity-length {
  font-size: 1.2rem;
  margin-left: 10px;
  margin-bottom: 10px;
}

.user-info-total-money {
  display: flex
}

.user-info-total--number-money {
  font-size: 1.3rem;
}

.user-info-calculated {
  font-size: 1.3rem;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-continue-buy-now {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #F08080;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 10px;
}

.wrarper-footer {
  margin-top: 150px;
}

/* Modal giỏ hàng */
.btn-close-modal {
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  background-color:  #0000FF;
  border-radius: 10px;
}

.btn-remove {
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: #DC143C;
  border-radius: 10px;
}

.modal-content-order {
  display: flex;
  flex-wrap: wrap;
}

.content-product {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-around;
}

.content-product-body {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

/* .content-product-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */

.content-product-img-detail {
  width: 100px;
  border-radius: 5px;
}

.content-product-name {
  font-weight: 400;
  flex-wrap: wrap;
  margin-left: 20px;
  line-height: 3rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.content-product-quantity {
  margin-right: 50px;
  line-height: 3rem;
  font-size: 0.9rem;
}

.content-product-money {
  line-height: 3rem;
  font-size: 0.9rem;
}

.content-user{
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  flex-direction: column;
}

.info-user {
  display: flex
}

.info-user-name {
  font-size: 1.2rem;
}

.info-user-local-name {
  font-size: 1.2rem;
  margin-left:10px
}


.info-order {
  display: flex
}

.info-order-address {
  font-size: 1.2rem;
}

.info-order-local-address {
  font-size: 1.2rem;
  margin-left:10px
}


.info-phone {
  display: flex
}

.info-phone-number {
  font-size: 1.2rem;
}

.info-phone--local-number {
  font-size: 1.2rem;
  margin-left:10px
}


.info-email {
  display: flex
}

.info-email-user-order {
  font-size: 1.2rem;
}

.info-email-local-user-order {
  font-size: 1.2rem;
  margin-left:10px
}


.info-note-noti {
  display: flex
}

.info-text-note {
  font-size: 1.2rem;
}

.info-note {
  min-width: 668px;
  margin-left: 10px;
  height: 88px;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;

}

.info-shipper {
  display: flex;
  margin-top: 10px;
}

.info-shipped {
  font-size: 1.2rem;
}

.info-shipped-real-time {
  font-size: 1.2rem;
  margin-left: 10px;
}

.btn-cancel-order {
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #DC143C;
}

.btn-update-order {
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #006400;
}


/* Create-account */
.container-create {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title-name-create {
  margin: auto;
  
}

.title-name-create h1 {
  color:#A52A2A
}


.form-create-account {
  margin: auto;
  display:flex;
  flex-direction: column;
  min-width: 500px;
  padding: 50px;
  box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
  border-radius: 10px;
  margin-top: 20px;
}

.form-create-account label {
  font-size: 1.2rem;
  color: #8B008B;
}


.form-create-account input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #6A5ACD;
  margin-top: 5px;
}


.btn-create {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  outline: none;
  border: none;
  background-color: #D87093;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 10px;
  align-items: center;
  line-height: 50px;
}

.btn-back {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #008000;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 10px;
  align-items: center;
  line-height: 50px;
}

/* validate lỗi */

.show-err {
  display: block;
  color:#B22222
}

.hide-err {
  display: none;
}

.btn-update {
  background-color: #cc0000;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  border-radius: 10px;
}


/* info customer */
.customer-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.customer-container-header {
  margin: auto;
}

.customer-container-header--text {
  color: #5F9EA0;
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
}

.customer-content {
  margin: auto;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: white;
}

.input-container {
  position: relative;
  margin-top: 20px;
}

.input-controler {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid #6495ED;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
}


.form-label--name {
  position: absolute;
  top: 50%;
  transform: translatey(-72px);
  left: 11px;
  font-size: 1.3rem;
  color: #FF8C00;
}

.customer-bottom {
  display: flex;
  justify-content: flex-end;
}

.btn-cancel {
  width: 100px;
  height: 50px;
  margin-right: 30px;
  outline: none;
  border: none;
  background-color: #2E8B57;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 50px;
}

.btn-update-user {
  width: 100px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #FF4500;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 50px;
}

/* list order  */
.order-container {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;

}

.order-list {
  text-align: center;
  margin-bottom: 38px;
  color: #0d6efd;
  font-size: 3rem;
}

.order-table {

}

.order-back {
  background-color: #dc3545;
  outline: none;
  border: none;
  width: 80px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 10px;
}

.order-list-detail {
  background-color: #2E8B57;
  outline: none;
  border: none;
  width: 80px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  
}

.btn-buy-back {
  width: 70px;
  height: 40px;
  line-height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: #d63384;
  border-radius: 5px;
}

.btn-close-modal-detail {
  width: 85px;
  height: 50px;
  line-height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: #A52A2A;
  border-radius: 5px;
}

.btn-back-to-home-detail {
  width: 85px;
  height: 50px;
  line-height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: #FF8C00;
  border-radius: 5px;
}

.link-change-course {
  text-decoration: none;
  font-size: 1rem;
}

.footer-top-distance {
  margin-top:320px
}